
.boton   
{
    color: whitesmoke;
    background-color: limegreen;
    padding: 12px;
    size: 20pt;
    margin: 20px;
    width: 50%;
    height: 60px;
    /* Redondeado de las esquinas */
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.boton:hover
{
    background-color: darkolivegreen  ;
}

p
{
    size: 20pt;
}

.contenedor
{
    width: 60%;
    background-color: lightgrey;
    padding: 20px;
    border-radius:10px;
}

input[type=text]
{
    padding: 9px;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    box-sizing: border-box;
    margin: 5px;

}

.tablaPersonas
{
    width: 100%;
    /* Saca el borde de las columnas */
    border-collapse: collapse;
}


thead
{
    background-color: darkcyan;
    color: white;
    
}
tr:nth-child(even)
{
    background-color: white;

}


th,td
{
    text-align: left;
    padding: 8px;
}

th{
    color: white;
}

tbody
{
    background-color: lightgrey;
}

.sinError
{
    border: 1px solid grey;
}

.conError
{
    border: 2px solid red;
}